.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"],
input[type="button"] {
  width: 100%;
  padding: 10px;
  background-color: #4c57af;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #151991;
}

